<!DOCTYPE HTML>
<html>
	<head>
		<title>EnergiPredict</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/css/style.css" />
		<link href="https://fonts.googleapis.com/css?family=Barlow:100,300,400,700,800&amp;subset=latin-ext" rel="stylesheet">
	</head>
	<body class="is-preload">
			<div id="wrapper">
					<div id="main">
						<div class="inner">
								<header id="header">
									<a href="index.html" class="logo"><strong>EnergiPredict</strong></a>
									<ul class="icons">
										<li><a href="index.html" class="icon home"><span class="label">Home</span></a></li>
										<li><a href="predict.html" class="icon predict"><span class="label">Predict</span></a></li>
										<li><a href="results.html" class="icon results"><span class="label">Results</span></a></li>
									</ul>
								</header>

							<!-- Banner -->
								<section id="banner">
									<div class="content">
										<header>
											<h1>Hi, I’m Rho</h1>
											<p>A system for predicting energy consumption of HVAC systems in auditoriums/large buildings.</p>
										</header>
										<p>Aenean ornare velit lacus, ac varius enim ullamcorper eu. Proin aliquam facilisis ante interdum congue. Integer mollis, nisl amet convallis, porttitor magna ullamcorper, amet egestas mauris. Ut magna finibus nisi nec lacinia. Nam maximus erat id euismod egestas. Pellentesque sapien ac quam. Lorem ipsum dolor sit nullam.</p>
										<ul class="actions">
											<li><a href="#" class="button big">Learn More</a></li>
										</ul>
									</div>
									<span class="image object">
										<img src="images/pic10.jpg" alt="" />
									</span>
								</section>

							<!-- Section -->
								<!-- Section -->
								<section>
									<header class="major">
										<h2>Technologies</h2>
									</header>
									<div class="features">
										<article>
											<span class="icon fa-gem"></span>
											<div class="content">
												<h3>Portitor ullamcorper</h3>
												<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
											</div>
										</article>
										<article>
											<span class="icon solid fa-paper-plane"></span>
											<div class="content">
												<h3>Sapien veroeros</h3>
												<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
											</div>
										</article>
										<article>
											<span class="icon solid fa-rocket"></span>
											<div class="content">
												<h3>Quam lorem ipsum</h3>
												<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
											</div>
										</article>
										<article>
											<span class="icon solid fa-signal"></span>
											<div class="content">
												<h3>Sed magna finibus</h3>
												<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
											</div>
										</article>
									</div>
								</section>
						</div>
					</div>
							<!-- Footer -->
								<footer id="footer">
									<p class="copyright">&copy; EnergiPredict, 2023. All rights reserved.<a href="https://unsplash.com">Unsplash</a>. Design: <a href="https://html5up.net">EnergiPredict</a>.</p>
								</footer>

						</div>
					</div>
			</div>
		<!-- Scripts -->
		<script src="/static/js/predict.js"></script>
	</body>
</html>